@{
    Layout = "../Shared/_Layout";
}
@using Wyam.Common.Documents;
@using Wyam.Common.Execution;
@model IDocument
@{
    var context = Context as IExecutionContext;
    var globalMetadata = context.GlobalMetadata;
    var metadata = Model.Metadata;
}
<ol class="breadcrumb">
    <li><a href="/">Top</a></li>
    <li><a href="/Project">Project</a></li>
    <li class="active">@Html.Raw(Model.String("Title",string.Empty))</li>
</ol>
<div class="page-header">
    <p class="h1">@Html.Raw(Model.String("Title",string.Empty))</p>
    <div class="text-right">
        <ul class="list-inline">
            @if(Model.Get("Tags",null) != null) {
                <li class="tag"><i class="fa fa-tags" aria-hidden="true"></i></li>
                foreach(var tag in Model.Get("Tags",Enumerable.Empty<string>())) {
                    <li class="tag tag-text"><a href="/Tag/@Html.Raw(Uri.EscapeDataString(tag.Replace("#","Sharp")))">@Html.Raw(tag)</a></li>
                }
            }
            @if(Model.Get("IsLibrary",false)) {
                <li class="tag"><span class="label label-info">Library</span></li>
            }
            @if(Model.Get("IsApplication",false)) {
                <li class="tag"><span class="label label-warning">Application</span></li>
            }
            @if(Model.Get("IsWebSite",false)) {
                <li class="tag"><span class="label label-success">WebSite</span></li>
            }
        </ul>
    </div>
</div>

@{
    var linkList = new List<Tuple<string,string>>();
    if(Model.String("LinkGithub",null) != null) {
        linkList.Add(Tuple.Create("Github",Model.String("LinkGithub")));
    }
    if(Model.String("LinkBintray",null) != null) {
        linkList.Add(Tuple.Create("Bintray",Model.String("LinkBintray")));
    }
    if(Model.String("LinkNuGet",null) != null) {
        linkList.Add(Tuple.Create("NuGet",Model.String("LinkNuGet")));
    }
    if(Model.String("LinkQiita",null) != null) {
        linkList.Add(Tuple.Create("Qiita",Model.String("LinkQiita")));
    }
    if(Model.String("LinkGooglePlay",null) != null) {
        linkList.Add(Tuple.Create("GooglePlay",Model.String("LinkGooglePlay")));
    }
}
@if(linkList.Count > 0) {
    <ul class="list-inline">
        <li class="link-list"><i class="fa fa-link" aria-hidden="true"></i></li>
        @foreach(var link in linkList) {
            <li class="link-list">
                <a href="@link.Item2">@link.Item1</a>
            </li>
        }
    </ul>
}

@RenderBody()

<div class="ninja_onebutton">
    <script type="text/javascript">
        //<![CDATA[
        (function (d) {
            if (typeof (window.NINJA_CO_JP_ONETAG_BUTTON_50a8479523257e5d998896c9d03acf4a) == 'undefined') {
                document.write("<sc" + "ript type='text\/javascript' src='\/\/omt.shinobi.jp\/b\/50a8479523257e5d998896c9d03acf4a'><\/sc" + "ript>");
            } else {
                window.NINJA_CO_JP_ONETAG_BUTTON_50a8479523257e5d998896c9d03acf4a.ONETAGButton_Load();
            }
        })(document);
        //]]>
    </script><span class="ninja_onebutton_hidden" style="display:none;"></span><span style="display:none;" class="ninja_onebutton_hidden"></span>
</div>
<div id="disqus_thread"></div>
<script>
    (function () {
        var d = document, s = d.createElement('script');

        s.src = '//@globalMetadata.String("DisqusName",string.Empty)' + '.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>