@using Wyam.Common.Documents;
@using Wyam.Common.Execution;
@model IDocument
@{
    var context = Context as IExecutionContext;
    var settings = context.Settings;
    var metadata = Model.Metadata;
}
<!DOCTYPE html>
<html>
<head>
    @Html.Partial("_Head")
    @RenderSection("head",required: false)
</head>
<body>

    <header class="header">
        @Html.Partial("_Header")
        @RenderSection("header",required: false)
    </header>
    <div class="container">
        @RenderSection("breadcrumb",required: false)
        <div class="row">
            <div class="col-md-9 col-xs-12">
                @RenderBody()
            </div>

            <div class="col-md-3 visible-md-block visible-lg-block">
                @RenderSection("preSidebar",required: false)

                <h2>
                    Famous Tag
                </h2>
                <ul class="list-inline">
                    <li class="tag-big"><i class="fa fa-tags" aria-hidden="true"></i></li>
                    @{
                        var tags = context.Documents
                            .FromPipeline("Tags")
                            .OrderByDescending(x => x.Get("TagPages",Enumerable.Empty<IDocument>()).Count())
                            .ThenBy(x => x.String("Title",string.Empty))
                            .Take(10);
                    }
                    @foreach(var page in tags) {
                        string tag = page.String("Tag",string.Empty);
                        var tagPages = page.Get("TagPages",Enumerable.Empty<IDocument>());
                        <li class="tag-big tag-text"><a href="/tag/@Html.Raw(Uri.EscapeDataString(tag.Replace("#","Sharp").ToLower()))">@Html.Raw($"{tag}({tagPages.Count()})")</a></li>
                    }
                </ul>
                <div class="text-center">
                    <a href="/tag" class="btn btn-default" role="button">MORE TAG</a>
                </div>

                <br/>
                <div class="programmer-widget-github-with-activity" target-user="meilcli" target-list-height="300px"></div>
                <br />
                <div class="programmer-widget-qiita-with-items" target-user="meilcli" target-list-height="300px"></div>
                <br />
                <div class="programmer-widget-teratail-with-answer" target-user="meilcli" target-list-height="300px"></div>
                @RenderSection("postSidebar",required: false)
            </div>
        </div>
    </div>
    <hr />
    <footer class="footer">
        @Html.Partial("_Footer")
        @RenderSection("footer",required: false)
    </footer>
    <script src="/Asset/Js/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    @RenderSection("footer_script",required: false)
</body>

</html>
