@{
    Layout = "../Shared/_Layout";
}
@using Wyam.Common.Documents;
@using Wyam.Common.Execution;
@model IDocument
@{
    var context = Context as IExecutionContext;
    var globalMetadata = context.GlobalMetadata;
    var metadata = Model.Metadata;
}

<ol class="breadcrumb">
    <li><a href="/">Top</a></li>
    <li><a href="/Tag">Tag</a></li>
    <li class="active">@Html.Raw(Model.String("Title",string.Empty))</li>
</ol>
<div class="page-header">
    <h1>@Html.Raw(Model.String("Title",string.Empty))</h1>
</div>
@{
    int count = 0;
}
@foreach(var page in Model.Get("TagPages",Enumerable.Empty<IDocument>()).OrderBy(x => x.String("Title",string.Empty))) {
    if(count > 0) {
        <hr />
    }
    count++;
    <h2 class="h2">
        <a href="@context.GetLink(page).Replace("/index","")">@Html.Raw(page.String("Title",string.Empty))</a>
    </h2>
    string description = page.String("Description",null) ?? page.String("Excerpt",null) ?? globalMetadata.String("Description",string.Empty);
    <p>@Html.Raw(description)</p>
    if(page.String("Image",null) != null) {
        <p class="thumbnail"><img src="/Asset/Image/@page.String("Image")" alt="image" /></p>
    }
    <div class="text-right">
        <ul class="list-inline">
            @if(page.Get("Tags",null) != null) {
                <li class="tag"><i class="fa fa-tags" aria-hidden="true"></i></li>
                foreach(var tag in page.Get("Tags",Enumerable.Empty<string>())) {
                    <li class="tag tag-text"><a href="/Tag/@Html.Raw(Uri.EscapeDataString(tag.Replace("#","Sharp")))">@Html.Raw(tag)</a></li>
                }
            }
            @if(page.Get("IsLibrary",false)) {
                <li class="tag"><span class="label label-info">Library</span></li>
            }
            @if(page.Get("IsApplication",false)) {
                <li class="tag"><span class="label label-warning">Application</span></li>
            }
            @if(page.Get("IsWebSite",false)) {
                <li class="tag"><span class="label label-success">WebSite</span></li>
            }
            @if(page.ContainsKey("Date")) {
                DateTime date = page.Get("Date",DateTime.MinValue);
                string dateText = $"{date.Year}年{date.Month}月{date.Day}日";
                <li class="tag"><i class="fa fa-calendar" aria-hidden="true"></i></li>
                <li class="tag">@dateText</li>
            }
        </ul>

    </div>
}
@RenderBody()
